body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    background-color: aliceblue;
    margin: 0;
    overflow-x: hidden;
}

#headerImage {
    z-index: -1;
    height: 80vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.9;
    -webkit-box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
    -moz-box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
    box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
}

header {
    height: 60vh;
    color: aliceblue;
    background-size: cover;
    width: 100%;
    margin: 0 auto 28vh;
    overflow: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    z-index: 1;
}

#helloCard {
    font-size: 0.7em;
    display: flex;
    position: absolute;
    margin: auto;
    top: 28vh; right: 0; bottom: 0; left: 0;
    padding-top: 2vh;
    z-index: 0;
    width: 50%;
    height: 50vh;
    background-color: #65ccb8;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 1px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 14px -1px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#helloCard div {
    display: flex;
    width: 60%;
    align-text: center;
    justify-content: space-around;
    font-size: 2em;
}

#welcomeText {
    font-size: 3em;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

header span {
    vertical-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section {
    margin-bottom: 100px;
    height: 60vh;
    width: auto;
}

#aboutMe {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.slideDisplay {
    width: 20vw;
    overflow: hidden;
}

.slidesContainer {
    margin-left: 0;
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.slide {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide div {
    text-align: center;
    font-size: 1.3em;
}

.slide img {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 15%;
}

.sliderContainer {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.sliderContainer a {
    font-size: 2em;
}

#dotsContainer {
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.dot {
    width: 1vw;
    height: 2vh;
    background-color: #9d9d9d;
    border: solid 1px #535353;
    border-radius: 100%;
}

#one {
    background-color: #676767;
}

.dot:hover {
    cursor: pointer;
    background-color: #676767;
}

#whatCanIDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    background-color: #182628;
    color: #f2f2f2;
    -webkit-box-shadow: 0px 7px 125px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 125px -6px rgba(0,0,0,1);
    box-shadow: 0px 7px 125px -6px rgba(0,0,0,1);
    padding-bottom: 5vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2.5vw;
    width: 1024px;
    height: 516px;
}

.gridContainer div {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 0px 176px -53px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 176px -53px rgba(255,255,255,1);
    box-shadow: 0px 0px 176px -53px rgba(255,255,255,1);
    overflow: hidden;
}

.gridContainer div img {
    max-width: 101%;
    max-height: 101%;

}

.gridContainer div img:hover {
    transform: scale(1.15);
}

#myOffer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#myOffer div {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

#myOffer div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 40vh;
    font-weight: bold;
    background-color: #65ccb8;
    border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
    border: 3px solid #57ba98;
    -webkit-box-shadow: 0px 0px 78px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 78px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 78px -21px rgba(0,0,0,0.75);
    justify-content: space-around;
}

.card i {
    margin-bottom: 10vh;
    font-size: 2em;
    cursor: pointer;
}

.card a div:hover {
    cursor: pointer;
}

.card .content {
    font-size: 0.9em;
    text-align: center;
}

.content {
    font-style: italic;
    margin-bottom: 10vh;
    display: none;
}

#hereIAm {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contact {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.email {
    width: 10%;
    height: 20%;
    background-color: #57ba98;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: aliceblue;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
}

.email:hover {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,1);
    color: #57ba98;
    background-color: aliceblue;
}

footer {
    height: 15vh;
    display: flex;
    background-color: #57ba98;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 1.2em;
}

i {
    color: aliceblue;
}

i:hover {
    color: #4b9583;
}

.legal {
    font-size: 0.5em;
    width: 100%;
    background-color: #57ba98;
}

.navAnimateIn {
    background-color: aliceblue;
    color: #57ba98;
    -webkit-animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
