body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #ecf2fa;
    margin: 0;
    overflow-x: hidden;
}

#headerImage {
    width: 100%;
    z-index: -1;
    height: 80vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.8;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ), url("./graphics/headerImage.jpg");;
    -webkit-box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
    -moz-box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
    box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
}

#headerImage img {
    max-width: 100%;
}

header {
    height: 60vh;
    color: aliceblue;
    background-size: cover;
    width: 100%;
    margin: 0 auto 28vh;
    overflow: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    z-index: 5;
}

#helloCard {
    font-size: 0.6em;
    display: flex;
    position: absolute;
    margin: auto;
    top: 30vh; right: 0; bottom: 0; left: 0;
    padding-top: 2vh;
    z-index: 0;
    width: 50%;
    height: 50vh;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    color: #57ba98;
    text-align: center;
}

#helloCard div {
    display: flex;
    width: 60%;
    align-text: center;
    justify-content: space-around;
    font-size: 5em;
}

#helloCard div i {
    color: #57ba98;
}

#welcomeText {
    font-size: 3em;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

header span {
    vertical-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section {
    margin-bottom: 100px;
    height: 60vh;
    width: auto;
}

#aboutMe {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.slidesContainer {
    height: 60%;
    display: flex;
    justify-content: space-around;
    background-color: #d8dfe6;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

.slide {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
}

.slideOnChange {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

.slideOnChange img {
    max-width: 100%;
    max-height: 100%;
}

#dotsContainer {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 100%;
}

#one {
    background-color: #65ccb8;
}

.dot:hover {
    cursor: pointer;
    background-color: #65ccb8;
}

#whatCanIDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    padding-bottom: 5vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5vw;
    width: 800px;
    height: 550px;
}

.gridContainer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    border-radius: 0px 25px 25px 25px;
    overflow: hidden;
    background-color: aliceblue;
}

#bigGrid {
    grid-row-start: 1;
    grid-row-end: 3;
}

.gridContainer div img {
    width: 105%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.4s;
}

.gridContainer div img:hover {
    transition-duration: 0.4s;
    transform: scale(1.1);
    opacity: 0.3;
}

#myOffer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#myOffer div {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
}

#myOffer .card {
    color: #57ba98;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 40vh;
    justify-content: space-around;
    font-weight: bolder;
    background-color: aliceblue;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

#myOffer .card:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgb(87, 186, 152);
    -moz-box-shadow: 0px 0px 13px 0px rgb(87, 186, 152);
    box-shadow: 0px 0px 13px 0px rgb(87, 186, 152);
}

.content {
    font-size: 20px;
}

#myOffer div div i {
    color: #57ba98;
}

.card i {
    margin-bottom: 10vh;
    font-size: 2em;
    cursor: pointer;
    color: #57ba98;
}

.card a div:hover {
    cursor: pointer;
}

.card .content {
    font-size: 0.9em;
    text-align: center;
}

.content {
    font-style: italic;
    margin-bottom: 10vh;
    display: none;
}

#hereIAm {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gmapCanvas {
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

#contact {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.email {
    width: 10%;
    height: 20%;
    background-color: #65ccb8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: aliceblue;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
}

.email:hover {
    -webkit-box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    color: #65ccb8;
    background-color: aliceblue;
}

footer {
    height: 220px;
    display: flex;
    background-color: #65ccb8;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 1.2em;
}

i {
    color: aliceblue;
}

i:hover {
    color: #4b9583;
}

.legal {
    font-size: 0.5em;
    width: 100%;
    background-color: #65ccb8;
}

.navAnimateIn {
    background-color: aliceblue;
    color: #65ccb8;
    -webkit-animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 3px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 3px 13px 0px rgba(122,122,122,1);
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

 #clock {
     background: #65ccb8;
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 10%;
     height: 47px;
     position: fixed;
     bottom: 3vw;
     z-index: 2;
     color: aliceblue;
     font-size: 2vw;
     font-weight: bolder;
     border: 0px solid #000000;
 }

 #triangleContainer {
     display: flex;
 }

 #triangle {
     width: 0;
     height: 0;
     position: fixed;
     bottom: 3.02vw;
     left: 9.97vw;
     z-index: 2;
     color: aliceblue;
     font-size: 1.7em;
     font-weight: bolder;
     border-top: 23.5px solid transparent;
     border-bottom: 23.5px solid transparent;
     border-left: 25px solid #65ccb8;
 }

 #newsletter {
     width: 100%;
     height: 700px;
     margin-top: 150px;
     background: linear-gradient(
             rgba(0, 0, 0, 0.3),
             rgba(0, 0, 0, 0.3)
     ), url("./graphics/laptop.jpg");
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .signUp {
     margin-left: 10vw;
     width: 400px;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: aliceblue;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     padding: 1.5vw;
 }

 .signUp div {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: aliceblue;
     width: 70%;
     height: 70px;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
 }

 .signUp div input {
     outline: none;
     font-size: 1.3em;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     background: linear-gradient(
             rgba(0, 0, 0, 0.1),
             rgba(0, 0, 0, 0.1)
     );
     text-align: center;
 }

 .signUp button {
     font-size: 1.1em;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     outline: none;
     background-color: #65ccb8;
     color: aliceblue;
     font-family: inherit;
     font-weight: bolder;
     padding: 10px;
 }

.signUp button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #65ccb8;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
}

 .info {
     max-height: 100%;
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     background-color: aliceblue;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     padding: 1.5vw;
 }

 .info div {
     max-height: 100%;
 }

 .info span {
    font-size: 0.9vw;
 }

 .info h3 {
    font-size: 1.3vw;
 }

 #skills {
     width: 100%;
     height: 800px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .allSkillsContainer {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .skillsContainer {
     width: 50%;
     height: 50%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
 }

 .skill {
     display: flex;
     flex-direction: column;
     width: 80%;
     height: 150px;
     text-align: center;
     position: relative;
     justify-content: space-around;
     align-items: center;
     -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
 }

 .skill span {
     position: absolute;
     bottom: 110px;
 }

 .level {
     top: 90px;
     background-color: #65ccb8;
     z-index: 3;
     border-radius: 40px;
     height: 6%;
 }

 #css {
     width: 40%;
     position: absolute;
     right: 55%;
 }

#js {
    width: 70%;
    position: absolute;
    right: 25%;
}

#kotlin {
    width: 30%;
    position: absolute;
    right: 65%;
}

#html {
    width: 60%;
    position: absolute;
    right: 35%;
}

 .toAchieve {
     position: absolute;
     width: 90%;
     height: 6%;
     background-color: #999999;
     border-radius: 40px;
     top: 90px;
 }