body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3vh;
    background-color: #ecf2fa;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: #727272;
}

#headerImage {
    width: 100%;
    z-index: -1;
    height: 80vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.8;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ), url("./graphics/headerImage.jpg");;
    -webkit-box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
    -moz-box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
    box-shadow: 0px 25px 102px -22px rgba(0,0,0,1);
}

#headerImage img {
    max-width: 100%;
}

header {
    height: 60vh;
    color: aliceblue;
    background-size: cover;
    width: 100%;
    margin: 0 auto 28vh;
    overflow: hidden;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

header span {
    vertical-align: center;
}

nav {
    font-size: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    z-index: 5;
}

nav ul li {
    margin-right: 2vw;
}

nav li:hover {
    cursor: pointer;
    animation-play-state: paused;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.menu {
    display: none;
}

.floatingScrollBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 90%;
    position: fixed;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    z-index: 6;
    transition-duration: 0.5s;
}

.floatingScrollBtn:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: #65ccb8;
}

.floatingScrollBtn:hover i {
    color: aliceblue;
}

.floatingScrollBtn i {
    color: #65ccb8;
    font-size: 40px;
}

#clock {
    background: #65ccb8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 47px;
    position: fixed;
    bottom: 3vw;
    z-index: 2;
    color: aliceblue;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    border: 0px solid #000000;
}

#helloCard {
    font-size: 0.6em;
    display: flex;
    position: absolute;
    margin: auto;
    top: 30vh; right: 0; bottom: 0; left: 0;
    padding-top: 2vh;
    z-index: 0;
    width: 50%;
    height: 50vh;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0 solid #000000;
    color: #8e8e8e;
    text-align: center;
}

#haveSomeFun {
    font-size: 3em;
    margin-bottom: 40px;
}

#helloCard .imgIconsContainer {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}

#helloCard .imgIconsContainer img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#helloCard .portrait {
    padding: 0.8%;
    background-color: #57ba98;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

#helloCard .portrait img {
    height: 35vh;
}

.allIcons {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

#helloCard .helloIcons {
    display: flex;
    width: 80%;
    align-text: center;
    justify-content: space-around;
    font-size: 5em;
    height: 20%;
}

#helloCard div i {
    color: #65ccb8;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
}

#helloCard div i:hover {
    color: #4b9583;
    cursor: crosshair;
    animation-play-state: running;
}

#helloCard:hover #haveSomeFun {
    color: #57ba98;
}

@keyframes spin {
    100% {transform: rotate(1turn); }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section {
    margin-bottom: 20vh;
    height: 60vh;
    width: auto;
}

#aboutMe {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 45vw;
}

.slidesContainer {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #d8dfe6;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

.slidesContainer span {
    color: aliceblue;
    font-size: 2vw;
    position: absolute;
    top: 0;
    opacity: 0.5;
    display: none;
    text-align: center;
    background-color: #4b9583;
    border-radius: 0px 0px 6px 0px;
    -moz-border-radius: 0px 0px 6px 0px;
    -webkit-border-radius: 0px 0px 6px 0px;
    border: 0px solid #000000;
}

.slidesContainer:hover span {
    display: inline;
}

.likes{
    width: 10%;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
}

.likes i {
    color: #65ccb8;
}

.likes i:hover {
    color: #4b9583;
    cursor: pointer;
}

.slide {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
}

.slideOnChange {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

.slideOnChange img {
    max-width: 100%;
    max-height: 100%;
}

#dotsContainer {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.dot {
    width: 3vw;
    height: 3vw;
    background-color: #c4c4c4;
    border-radius: 100%;
}

#one {
    background-color: #65ccb8;
}

.dot:hover {
    cursor: pointer;
    background-color: #65ccb8;
}

#whatCanIDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    padding-bottom: 5vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5vw;
    width: 800px;
    height: 550px;
}

.gridContainer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    border-radius: 0px 25px 25px 25px;
    overflow: hidden;
    background-color: aliceblue;
}

#bigGrid {
    grid-row-start: 1;
    grid-row-end: 3;
}

.gridContainer div img {
    width: 105%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.4s;
}

.gridContainer div img:hover {
    transition-duration: 0.4s;
    transform: scale(1.1);
    opacity: 0.3;
}

.gridPrompt {
    font-size: 1.5em;
    color: #727272;
    position: absolute;
    -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
}
@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
}

.animateGridPrompt {
    font-size: 2em;
    color: #727272;
    position: absolute;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

#myOffer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#myOffer div {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 2vh;
    text-align: center;
}

#myOffer .card {
    color: #57ba98;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 35vh;
    justify-content: space-around;
    font-weight: bolder;
    background-color: aliceblue;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

#myOffer .card:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgb(87, 186, 152);
    -moz-box-shadow: 0px 0px 13px 0px rgb(87, 186, 152);
    box-shadow: 0px 0px 13px 0px rgb(87, 186, 152);
    color: #57ba98;
}

#myOffer h3 {
    border-bottom: 2px solid;
}

.card i {
    margin-bottom: 10vh;
    font-size: 2em;
    cursor: pointer;
    color: #57ba98;
}
.card:hover i {
    color: #57ba98;
}

.card a div:hover {
    cursor: pointer;
}

.content {
    font-style: italic;
    margin-bottom: 3vw;
    display: none;
    font-size: 2vh;
    text-align: center;
    color: #8e8e8e;
}

#hereIAm {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gmapCanvas {
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
}

#contact {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contact .btn {
    font-size: 3vh;
    width: 10%;
    height: 20%;
    background-color: #65ccb8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
}

#contact .btn:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.btn a {
    text-decoration: none;
    color: aliceblue;
}

.btn:hover a {
    color: #65ccb8;
}

footer {
    height: 20vh;
    display: flex;
    background-color: #65ccb8;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 3vh;
}

i {
    color: aliceblue;
}

footer i:hover {
    color: #4b9583;
}

.legal {
    font-size: 0.5em;
    width: 100%;
    background-color: #65ccb8;
}

.navAnimateIn {
    background-color: aliceblue;
    color: #65ccb8;
    -webkit-animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 3px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 3px 13px 0px rgba(122,122,122,1);
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

 #newsletter {
     width: 100%;
     height: 70vh;
     margin-top: 150px;
     background: linear-gradient(
             rgba(0, 0, 0, 0.3),
             rgba(0, 0, 0, 0.3)
     ), url("./graphics/laptop.jpg");
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .signUp {
     margin-left: 2%;
     width: 23%;
     height: 50%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: aliceblue;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     padding: 1.5vw;
 }

 .signUp div {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: aliceblue;
     width: 70%;
     height: 70px;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
 }

 .signUp input {
     width: 100%;
 }

 .signUp div input {
     outline: none;
     font-size: 1.7em;
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid #65ccb8;
     background-color: aliceblue;
     text-align: center;
 }

.signUp div input:focus {
    border-bottom: 4px solid #65ccb8;
}

::placeholder {
    opacity: 0.3;
}

 .btn {
     font-size: 1.8vh;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     outline: none;
     background-color: #65ccb8;
     color: aliceblue;
     font-family: inherit;
     font-weight: bolder;
     padding: 10px;
     transition-duration: 0.5s;
 }

.btn:hover{
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: aliceblue;
    color: #65ccb8;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
    box-shadow: 0px 5px 13px 0px rgba(122,122,122,1);
}

 .info {
     max-height: 100%;
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     background-color: aliceblue;
     border-radius: 12px 12px 12px 12px;
     -moz-border-radius: 12px 12px 12px 12px;
     -webkit-border-radius: 12px 12px 12px 12px;
     border: 0px solid #000000;
     -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     padding: 1.5vw;
 }

 .info div {
     max-height: 100%;
 }

 .info span {
    font-size: 1.3vh;
     color: #727272;
 }

 .info h3 {
    font-size: 2vh;
     color: #57ba98;
 }

 #skills {
     color: #727272;
     width: 100%;
     height: 70vh;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .allSkillsContainer {
     width: 100%;
     height: 90%;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .skillsContainer {
     width: 50%;
     height: 70%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
 }

 .skill {
     font-size: 2vh;
     display: flex;
     flex-direction: column;
     width: 80%;
     height: 30vh;
     text-align: center;
     position: relative;
     justify-content: space-around;
     align-items: center;
     -webkit-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     -moz-box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
     box-shadow: 0px 0px 13px 0px rgba(122,122,122,1);
 }

 .skill span {
     position: absolute;
     bottom: 60%;
 }

 .level {
     top: 10vh;
     background-color: #65ccb8;
     z-index: 3;
     border-radius: 40px;
     height: 6%;
 }

 #css {
     width: 40%;
     position: absolute;
     right: 55%;
 }

#js {
    width: 70%;
    position: absolute;
    right: 25%;
}

#kotlin {
    width: 30%;
    position: absolute;
    right: 65%;
}

#html {
    width: 60%;
    position: absolute;
    right: 35%;
}

 .toAchieve {
     position: absolute;
     width: 90%;
     height: 6%;
     background-color: #999999;
     border-radius: 40px;
     top: 10vh;
 }

.description {
    font-size: 1.5vh;
    position: marker;
    font-style: italic;
}

.styledLetter {
    color: #57ba98;
    font-size: 1.3em;
}

#loading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;
    background-color: aliceblue;
    background-image: url('./graphics/loadingGif.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.page { display: none; padding: 0 0.5em; }

/*  MEDIA QUERIES  */

@media screen and (max-width: 1160px){
    #myOffer {
        margin-bottom: 0;
        height: 120vh;
    }

    #myOffer div {
        height: 80%;
        flex-direction: column;
        align-items: center;
    }

    #myOffer .card {
        width: 50%;
        margin-top: 5%;
    }

    #contact .btn {
        width: 20%;
    }

    .navUl {
        width: 100%;
        font-size: 1.5vh;
        margin-right: 35px;
        align-items: center;
    }

    .navUl li {

    }

    nav {
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
    }

    nav span {
        display: none;
    }
}

@media screen and (max-width: 810px) {

    #whatCanIDo {
        height: 150vh;
        margin-bottom: 8vh;
    }

    .gridContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 50%;
    }

    .gridContainer div {
        margin-top: 1vw;
    }

    #helloCard .helloIcons {
        height: 60%;
        align-items: center;
        width: 100%;
    }

    #newsletter {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .signUp {
        width: 50%;
        height: 30%;
    }

    .info {
        width: 70%;
    }
    #clock {
        display: none;
    }

    #skills {
        height: 80vh;
    }

    .allSkillsContainer {
        height: 100%;
        flex-direction: column;
    }

    .skillsContainer {
        width: 70%;
        height: 50%;
    }

    .skill {
        margin-top: 3vh;
    }

    .skill span {
        font-size: 1.5vh;
    }

    .description {
        font-size: 1.6vh;
    }

    #contact .btn {
        width: 30%;
    }

    .floatingScrollBtn {
        left: 80%;
    }

    #hereIAm {
        height: 70vh;
        margin-bottom: 5vh;
    }

    .portrait {
        margin-left: 10px;
    }
}

@media screen and (max-width: 520px) {
    #dotsContainer {
        margin-top: 5px;
    }

    .likes {
        margin-top: 5px;
    }

    #whatCanIDo {
        height: 90vh;
    }

    .portrait {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    .content {
        font-size: 1.5vh;
    }

    #contact .btn {
        width: 40%;
    }

    #myOffer .card {
        width: 70%;
    }

    main section {
        margin-bottom: 0;
    }

    #hereIAm {
        margin-top: 10vh;
    }

    #aboutMe {
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 360px) {
    #hereIAm {
        margin-top: 15vh;
    }

    #contact {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #skills {
        margin-top: 10vh;
    }

}